.panel-default>.panel-heading{
    background-color: rgba(214, 219, 227, 0.91);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
}

.panel-default>.panel-footer{
    background-color: rgba(214, 219, 227, 0.91);
    background: -webkit-linear-gradient(top, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
    background: linear-gradient(to bottom, rgba(248, 248, 248, 1) 0%, rgba(214, 219, 227, 0.91) 100%);
}

a:hover{
    text-decoration: none;
}

#wrapper {
    border: 1px solid blue;
}
#div1 {
    display: inline-block;
    width:120px;
    height:120px;
    border: 1px solid red;
}
#div2 {
    display: inline-block;
    width:160px;
    height:160px;
    border: 1px solid green;
    vertical-align:top;
}
